[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/tinlake"]
	path = lib/tinlake
	url = https://github.com/centrifuge/tinlake
	branch = develop
[submodule "lib/tinlake-auth"]
	path = lib/tinlake-auth
	url = https://github.com/centrifuge/tinlake-auth